pyrogram==2.0.106
requests==2.31.0
aiohttp==3.8.4
bs4
blackpink
bardapi
psycopg2-binary
gpytranslate
matplotlib==3.7.1
openai==0.28
emojis
pyttsx3
pillow==9.5.0
pickledb
pySmartDL
arq
gtts
python-arq
opencv-python-headless==4.7.0.72
prettytable==3.6.0
python-telegram-bot==20.07
regex==2023.3.23
speedtest-cli==2.1.3
telegraph==2.2.0
VaderSentiment==3.3.2
wget==3.2
wikipedia
youtube_search
yt_dlp
carbon
lexica-api
pykeyboard
unidecode
nekos.py
